[Unit]
Description=Gunicorn instance to serve app
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/Final
Environment="PATH=/home/ubuntu/Final/venv/bin;/usr/bin"
ExecStart=/home/ubuntu/Final/venv/bin/gunicorn --workers 3 --bind unix:app.sock -m 007 wsgi:app

[Install]
WantedBy=multi-user.target
